[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
nodeenv = "*"
pre-commit = "*"

[packages]
waveshare-epd = {editable = false, path = "./ext/e-Paper/RaspberryPi&JetsonNano/python"}
spidev = "*"
"rpi.gpio" = "*"
setuptools = "*"
pillow = "*"
av = "*"
urwid = "*"
qcmd = {editable = true, git = "https://github.com/libanvl/python-qcmd", ref = "v0.0.5-pre3"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
pyright = "node node_modules/pyright"
vslomp = "python -m vslomp"
